# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'floodlight/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {
            "pkg" : 'floodlight-arch',
        },
        'RedHat': {
            "config": '/etc/floodlight.conf',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('floodlight:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.floodlight.update(os_family_map) %}

{## Merge in floodlight:lookup pillar ##}
{% set floodlight = salt['pillar.get'](
        'floodlight',
        default=default_settings.floodlight,
        merge=True
    )
%}
